In [ ]:
!python -m pip install akshare

In [1]:
import akshare as ak
from dateutil.parser import parse

In [ ]:
index_stock_cons_weight_csindex_df=ak.index_stock_cons_weight_csindex(symbol='000913')
all_stock_df=index_stock_cons_weight_csindex_df[['成分券代码','成分券名称','权重']]
all_stock_df

In [3]:
stock_individual_info_em_df = ak.stock_individual_info_em(symbol=all_stock_df['成分券代码'][0])
stock_individual_info_em_df

   item                value
0   总市值  190246287941.820007
1  流通市值  156403446966.800018
2    行业                 医疗服务
3  上市时间             20091030
4  股票代码               300015
5  股票简称                 爱尔眼科
6   总股本         5421666798.0
7   流通股         4457208520.0

In [4]:
stock_info = stock_individual_info_em_df.drop([2,5,6,7])
stock_info

   item                value
0   总市值  190246287941.820007
1  流通市值  156403446966.800018
3  上市时间             20091030
4  股票代码               300015

In [5]:
temp_list = [stock_info.value[4],parse(str(stock_info.value[3])),stock_info.value[0],stock_info.value[1],round(stock_info.value[1]/stock_info.value[0],4)]
temp_list

['300015',
 datetime.datetime(2009, 10, 30, 0, 0),
 190246287941.82,
 156403446966.80002,
 0.8221]